<section class="about-me">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md"><img class="img-fluid" src="/img/finger-guns.png" class="img-fluid" ></div>
            <div class="col-md">
                <h2>Having a killer site has never been easier...</h2>
                <p>You're busy running a business. You don't have time to learn how to build a website. And if you have tried using Wix or Squarespace you may have found the results to be pretty lackluster.</p>
                <h5>It's time to let the professionals handle it.</h5>
                <p>Whether a business website or e-commerce store. WordPress or Shopify. Static or Dynamic. We can build you a site that works exactly as you need it to.</p>
                <p>It's OK if you aren't sure what you want or if you don't know what you need. Our team will walk you through all phases of the development process. From design, to development, to launch and beyond.</p>
            </div>
        </div>
    </div>
</section>
