<section class="feature-columns">
    <div class="container">
<div class="row">
    <div class="col-md">
                    <i class="fas fa-mobile-alt fa-3x"></i>
                    <h2>Responsive</h2>
                    <p>All sites are built mobile first. Why? Because no body ever gets off their damn phones...amirite? Either way, you want a mobile friendly and fully responsive website and we will give it to you.</p>
    </div>
    <div class="col-md">
                    <i class="fab fa-searchengin fa-3x"></i>
                    <h2>SEO Friendly</h2>
                    <p>Want your site to be #1 on Google? Well you'll need an SEO manager - but he/she will love your website because we hand it over well structured and optimized for continued SEO work.</p>
    </div>
    <div class="col-md">
                    <i class="fas fa-bolt fa-3x"></i>
                    <h2>Lightening Fast</h2>
                    <p>Whether a static site, WordPress, or Shopify, we make sure your site is as light and as quick as possible.</p>
    </div>
</div>
    </div>
</section>
