<section class="portfolio">
    <div class="container">
        <div class="carousel" data-flickity='{ "imagesLoaded": true, "wrapAround": true, "fullscreen": true }'>
                <img src="/img/creative-template.jpg" alt=""/>
                <img src="/img/ockupy.png" alt=""/>
                <img src="/img/cafejoe.jpg" alt=""/>
                <img src="/img/modern-template.jpg" alt=""/>
                <img src="/img/mindfulcafe.jpg" alt=""/>
              </div>
    </div>
</section>