<section class="pricing-columns">
    <div class="container">
            <div class="card-deck mb-3 text-center">
                    <div class="card mb-4 box-shadow">
                      <div class="card-header">
                        <h4 class="my-0 font-weight-normal">"I have the logo, text, images, and designs."</h4>
                      </div>
                      <div class="card-body">
                        <h1 class="card-title pricing-card-title">$495+</h1>
                        <hr>
                        <p>If you have all the content handled and just need them put into a simple website that you'll barely ever change, than this is the package for you. Quick and easy.</p>
                        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
                      </div>
                    </div>
                    <div class="card mb-4 box-shadow">
                      <div class="card-header">
                        <h4 class="my-0 font-weight-normal">"I know what I want, just need some help putting it together."</h4>
                      </div>
                      <div class="card-body">
                        <h1 class="card-title pricing-card-title">$3995+</h1>
                        <hr>
                            <p>If you don't have everything prepared and need help with your website and it's content, don't sweat it. We can help you grow your idea and get it on the World Wide Web. Takes a bit more time, but it's always worth the wait.</p>
                        <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
                      </div>
                    </div>
                    <div class="card mb-4 box-shadow">
                      <div class="card-header">
                        <h4 class="my-0 font-weight-normal">"Wait? Don't you do all that?!"</h4>
                      </div>
                      <div class="card-body">
                        <h1 class="card-title pricing-card-title">Ask For Quote</h1>
                        <hr>
                        <p>Yeah, we do - but time is money and all those things take time. It's best to reach out to us so we can schedule a time to discuss your needs in depth and outline the work and timeline.</p>
                        <button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button>
                      </div>
                    </div>
                  </div>
    </div>
</section>

